<div class="wrapper">
    <nav id="sidebar">
        
        <button class="menu-drop btn dropdown-toggle btn-dark" data-toggle="collapse" data-target="#teams"
        (click)="onMenuButtonClick('teams')">
            <span class="ml-1"><fa-icon [icon]="faTeams"></fa-icon>Teams</span>
        </button>
        <div id="teams" class="collapse" #teams>
            <a class="dropdown-item"
            *ngFor="let c of categories"
            (click)="loadTeamsCategory(c.id)">{{c.name}}</a>
        </div>
    </nav>
</div>