#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; padding: 15px;
    background-image: url('../../assets/img/loginCover.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    -webkit-filter: grayscale(45%);
    filter: grayscale(60%);
} 

#divSign{ width: 390px;
    border-radius: 10px;
    overflow: hidden; padding: 30px 50px;
    border-style: solid;
    border-color:black;
    background: hsla(200,80%,10%,.8);
    opacity: 0.9;
}

fa-icon {color: white;}