<router-outlet></router-outlet>
<hr>
<div class="mt-3 table-responsive container">
    <div *ngIf="currentCategory">
        <b>{{currentCategory.name}} Category</b>
    </div>
    <table class="table table-striped" *ngIf="teamCategory.length > 0">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Team Pool</th>
                <th>Options</th>
            </tr>
        </thead>    
        <tr *ngFor="let c of teamCategory">
            <td>{{c.name}}</td>
            <td>{{c.pool | uppercase}}</td>
            <td>
                <button title="Edit team" class="btn icon" type="button" value="Edit" (click)="onEditTeam(c.id)"><fa-icon [icon]="faEdit"></fa-icon></button>
                <button title="Add players" class="btn icon" type="button" (click)="onAddUser(c.id)"><fa-icon [icon]="faAddUser"></fa-icon></button>
            </td>
        </tr>
    </table>
    <p *ngIf="teamCategory.length <= 0">This category does not have teams</p>
</div>