<router-outlet></router-outlet>
<hr>
<table *ngIf="teamCategory.length > 0">
    <tr>
        <th>Team Name</th>
        <th>Team Pool</th>
        <th></th>
    </tr>
    <tr *ngFor="let c of teamCategory">
        <td>{{c.name}}</td>
        <td>{{c.pool | uppercase}}</td>
        <td>
            <button title="Edit team" class="btn btn-success icon" type="button" value="Edit" (click)="onEditTeam(c.firebaseId)"><fa-icon [icon]="faEdit"></fa-icon></button>
            <button title="Add players" class="btn btn-dark icon" type="button"><fa-icon [icon]="faAddUser"></fa-icon></button>
        </td>
    </tr>
</table>
<p *ngIf="teamCategory.length <= 0">This category does not have teams</p>